.TodoEditor {
  width: 320px;
  margin: 0 auto;
}
.TodoEditor .todoInput {
  border-bottom: 1px solid gray;
}
.TodoEditor h2 {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(212, 211, 211);
}
.TodoEditor input {
  width: 260px;
  margin-right: 3px;
  margin-left: 3px;
  height: 20px;
  margin-bottom: 10px;
}
.TodoEditor button {
  height: 27px;
  font-weight: bold;
}
.App {
  width: 320px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: 0 auto;
}
.TodoItem {
  margin-top: 5px;
  margin-bottom: 1px;
}
.TodoItem .flexItem {
  display: flex;
  justify-content: space-between;
}
.TodoItem input {
  cursor: pointer;
}
.TodoList .Done {
  border-bottom: 1px solid gray;
  margin-top: 5px;
}
.TodoList h4 {
  border-bottom: 1px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
}
.doneText {
  border-top: 1px solid gray;
}
.doneListText {
  margin-left: 10px;
}
